<div class="profile_container">

<div class="project_column">
<%= render 'shared/user_info' %>
</div>

<div class="main_column">
<div class="main_column_body">
	<% unless @user.projects.empty? %>
        <div class="projects" summary="User Projects">
          <%= render @projects%>
        <%  @projects.paginate(:page => params[:page], :per_page => 10)%>
        </div>
        <div class="contentPad">
        <%= will_paginate @projects %>
        </div>
      <% end %>
</div>
</div>
<div class="third_column">
<% if (signed_in?) %>
	<%= render 'shared/project_form', :locals => {:project => @user}  %>
<% end %>

</div>
</div>