<div class="profile_container">

<div class="project_column round">
<%= render 'shared/user_info' %>
</div>

<div class="main_column round">
<div class="main_column_body">
<% if (signed_in?) %>
	<%= render 'shared/micropost_form' %>
<% end %>
	<% unless @user.microposts.empty? %>
        <div class="microposts" summary="User microposts">
          <%= render @microposts %>
        </div>
        <%= will_paginate @microposts %>
      <% end %>
</div>
</div>
</div>