
<div style="margin:0; height:40px;">
<div class="contentPad" style="position:relative;">
<div style="position:relative; top:-30; right:-30;">
</div>
<div>
    <span class="user">
      <%= link_to feed_item.project, feed_item.project %>
    </span>
    <span><%= feed_item.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
    </div>

  </div>
</div>
