<div style="height:300px">
<div class="contentPad">
<h2>Help</h2>
<p>Tuneboat is a bit buggy at the moment.  For a complete list of current bugs, check out the documentation here: <% link_to "Tunedocs", "http://www.audiovisualsoul.com/tuneboat"%></p>
</div>
</div>