<li>
  <div class="userLinks" style="margin:5px; font-size:13pt; padding:10px;">
  <%= link_to project.name, project, :class=>"userLinks" %>
  <% if current_user.admin? %>
  | <%= link_to "delete", project, :method => :delete, :confirm => "You sure?",
                                :title => "Delete Project" %>
  <% end %>
  </div>
</li>