<div class="profile_container">

<div class="project_column">
<% @user = @project.user%>
<% current_project = @project%>
<%= render 'shared/user_info' %>
</div>

<div class="main_column">
<div class="main_column_body">
	<% unless @project.microposts.empty? %>
        <div class="microposts" summary="Tracks">
          <%= render @microposts %>
        </div>
        <div class="contentPad">
        <%= will_paginate @microposts %>
        </div>
      <% end %>
</div>
</div>
<div class="third_column">
<% if (signed_in?) %>
	<%= render 'shared/micropost_form', :locals => {:project => @project} %>
<% end %>

</div>
</div>