<div class="micropost round">
  <span><%= micropost.content %></span>
    <span class="timestamp" >
<small>&nbsp; Posted <%= time_ago_in_words(micropost.created_at) %> ago.</small>
    </span>
    
      <% if current_user.admin? %>
  | <%= link_to "delete", micropost, :method => :delete, :confirm => "You sure?",
                                :title => "Delete Micropost" %>
  <% end %>
</div>