<div class="micropost general round">
  <span><%= micropost.content %></span>
    <span class="timestamp" >
      <font style="color:#999;"><small>Posted <%= time_ago_in_words(micropost.created_at) %> ago.</small></font>
    </span>
</div>