/*BASIC STYLES*/

body{font: 12pt Helvetica-neue, sans-serif; color:#666; background:#999;}
h1{font-size: 24pt; color:#333; padding:0px; margin:7px;}
h2{font-size: 16pt; }
h3{font-size: 14pt; color:#333;}
img{float:left;}
header{z-index:3;position:relative; height:67px; 
background:#333; border-color:#999; border-style:solid;
border-width:thin; width:100%}

/*SITE LAYOUT*/

/*CONTAINER*/
.container{position:relative; margin-left:0; margin-right:0; width:100%; height:100%; margin-top:0; margin-bottom:0; padding:0px;}
.content_container{position:relative; width:100%; height:100%; padding:0px; margin:0px; }

/*SITE_COLUMNS*/
.main_column{float:left; width:70%; padding:0px; margin-left:0; margin-right:0; margin-top: 5px; margin-bottom:5px;}
.side_column{background:#ccc; font-size:10pt; float:left; width:20%; padding:10px; margin-left:0; margin-right:5px; margin-top: 5px; margin-bottom:5px;}

/*FIXED-POSITION CLASSES*/
/*----------CRAWLER*/
/*.crawler{position:fixed; bottom:0;}*/
/*-------------------------*/

/*SITE ELEMENTS*/

/*HEADER ID ELEMENTS*/
#head{}
#logo{position:absolute; left:8px;top:8px;}
#brand{position:absolute;  left:45px; top:13px;}
#subtitle{clear:both; font-size:14pt bold; margin-left:60px; margin-bottom:20px;}

/*USER PROFILE*/
.user_name{padding:0px; margin:0px; position:relative; left:10px; top:10px;}
.profile_container{padding:0px; margin:0px; position:relative; width:100%}
.profile_body{clear:both}


/*NAVIGATION*/
nav{font-size:10pt; color:#999; float:right; padding: 0 0.7em; white-space: nowrap;}
nav ul {margin:0; padding:0;}
nav ul li {list-style-type:none; margin-right:3px; display:inline-block; padding: 0.4em 0;}
section{padding:5px;}

/*FOOTER*/
footer{position:fixed;
z-index:3;
width:97%;
padding:0px;
margin-left:0;
margin-right:0;
bottom:-10px;
text-align:center;
height:40px; 
background:#333; border-color:#999; border-style:solid;
border-width:thin;}


/*LINKS*/
a:link {color: #ccc; text-decoration: none; }
a:active {color: #111; text-decoration: none; }
a:visited {color: #999; text-decoration: none; }
a:hover {color: #222; text-decoration: none; }

header a:hover {color: #fff; text-decoration: none; }

/*LANDER*/

/*SIGNUP BUTTON*/
.expander{
margin-left:-20px;
margin-top: 5px;
}
.lander{
z-index:1;
position:fixed;
vertical-align:center;
left:15%;
top:-175px;
padding:20%;
}
a.signup_button{
z-index:2;
font-size: 250%; font-style:bold;
color: #222;
position:fixed;
padding-top:2%;
padding-left:10%;
padding-bottom:40%;
margin-top:3%;
margin-bottom:50px;
width:105%;
height:100%;
text-shadow: 1px 1px 3px #fff, 1px 1px 70px #fff;

box-shadow: -5px -5px -20px #666;  /*For IE9/Final CSS3 spec*/
-moz-box-shadow: -5px -5px -20px #666;  /*For Firefox*/
-webkit-box-shadow: -5px -5px -20px #666;  /*For Chrome/Safari*/
}

a.signup_button:hover {
}

/*FORMS*/
div.field, div.actions {margin-bottom:10px;}

/*BOX STYLES*/
.round{
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
.general{
text-shadow: 1px 1px 2px #333;
box-shadow: 5px 5px 20px #111;  /*For IE9/Final CSS3 spec*/
-moz-box-shadow: 5px 5px 20px #111;  /*For Firefox*/
-webkit-box-shadow: 5px 5px 20px #111;  /*For Chrome/Safari*/
}

.content{
	color: #fff;
	background:rgb(90, 100, 100);
	margin: 5px;
	padding: 20px;
}
.content a{color:#fff;}


/*ERROR MESSAGES*/
div #error_explaination{ 
	color:#fff;
	padding:20px;
	background:rgb(120, 0, 0);
	margin-bottom:10px;
	}
 .field_with_errors{
border-style:solid;
border-color:rgb(100, 0, 0);
border-width:3px;
}
/*FLASH MESSAGE STYLES*/
.success{
color:rgb(0, 100, 0);
background:rgb(100, 255, 50); 
margin-top:5px; 
padding:10px; 
border-style:solid; 
border-width:3px; 
border-color:rgb(0, 100, 0)
}
.error{
color:rgb(100, 0, 0);
background:rgb(255, 100, 50); 
margin-top:5px; 
padding:10px; 
border-style:solid; 
border-width:3px; 
border-color:rgb(100, 0, 0)
}
.notice{
color:rgb(100, 100, 0);
background:rgb(200, 200, 50); 
margin-top:5px; 
padding:10px; 
border-style:solid; 
border-width:3px; 
border-color:rgb(100, 100, 0)
}


