/*BASIC STYLES*/
html{overflow-y:scroll;}
body{font: 13pt Helvetica-neue, sans-serif; color:#666; background:#fff;

}
h1{font-size: 24pt; color:#333; padding:0px; margin:7px;}
h2{font-size: 16pt; }
h3{font-size: 14pt; color:#333;}
img{float:left;}

header{z-index:3;position:relative; left:-2px;height:80px; 
background:none; width:1000px;margin-top:0; margin-bottom:0; padding:0; margin-left:auto; margin-right:auto; }

.navBorder{height:30px; width:100%; padding:0; margin:0; display:inline-block; clear:both;
background: #e4f5fc; /* Old browsers */
background: -moz-linear-gradient(top, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(50%,#bfe8f9), color-stop(51%,#9fd8ef), color-stop(100%,#2ab0ed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* IE10+ */
background: linear-gradient(top, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */}

/*images*/
.lilguy{position:absolute; bottom:230px; left:615px;z-index:1;padding:0;float:right;}


.navigation{height:30px; width:1000px; padding:0;margin-left:auto; margin-right:auto; margin-top:0; margin-bottom:0;}

/*SITE LAYOUT*/

/*CONTAINER*/
.container{position:relative; margin-left:auto; margin-right:auto; width:1000px; margin-top:0; margin-bottom:0; padding:0; background-color:#fff; display:block;}
.container_border{width:100%; margin-top:0; margin-bottom:0; margin-left:0; margin-right:0;  }
.content_container{position:relative; width:1000px;  padding:0; margin:0; }

/*FIXED-POSITION CLASSES*/
/*----------CRAWLER*/
/*.crawler{position:fixed; bottom:0;}*/
/*-------------------------*/

/*SITE ELEMENTS*/

/*HEADER ID ELEMENTS*/
#head{position:relative; top:8px;}
#logo{position:absolute; left:5px;top:7px;}
#brand{position:absolute;  left:80px; top:20px;}
.tuneboat {font-size: 30pt;color: rgb(0,160,220); text-shadow: 1px 1px 0px #333;}
#subtitle{clear:both; font-size:14pt bold; margin-left:60px; margin-bottom:0;}

/*NAVIGATION*/
nav{font-size:12pt; color:#fff; float:right; margin:0; padding: 0 0.7em; white-space: nowrap;}
nav ul {margin:0; padding:0;}
nav ul li {list-style-type:none; margin:0; margin-right:20px; display:inline-block; padding: 0.4em 0;}

nav ul li a{color:#fff;}
section{padding:0px;}

nav a{color:#fff;}

/*LINKS*/

a:link {color: #666; text-decoration: none; }
a:active {color: #666; text-decoration: none; }
a:visited {color: #666; text-decoration: none; }
a:hover {color: #222; text-decoration: none; }

nav a:link {color: #333; text-decoration: none; }
nav a:active {color: #333; text-decoration: none; }
nav a:visited {color: #333; text-decoration: none; }
nav a:hover {color: #fff; text-decoration: none; }

/*FORMS*/
div.field, div.actions {margin-bottom:10px;}

/*BOX STYLES*/
.round{
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
.general{
box-shadow: 2px 2px 0px #111;  /*For IE9/Final CSS3 spec*/
-moz-box-shadow: 2px 2px 0px #111;  /*For Firefox*/
-webkit-box-shadow: 2px 2px 0px #111;  /*For Chrome/Safari*/
}
.content{
width:1000px;
	color: #333;
	margin:0;
	padding:0;
}

.contentPad{padding:10px;}
.content a{color:#fff;}


/*ERROR MESSAGES*/
div #error_explaination{ 
	color:#fff;
	padding:20px;
	background:rgb(120, 0, 0);
	margin-bottom:10px;
	}
 .field_with_errors{
border-style:solid;
border-color:rgb(100, 0, 0);
border-width:3px;
}
/*FLASH MESSAGE STYLES*/
.success{
z-index:5;
color:rgb(0, 100, 0);
background:rgb(100, 255, 50); 
margin-top:5px; 
padding:10px; 
border-style:solid; 
border-width:3px; 
border-color:rgb(0, 100, 0)
}
.error{
z-index:5;
color:rgb(100, 0, 0);
background:rgb(255, 100, 50); 
margin-top:5px; 
padding:10px; 
border-style:solid; 
border-width:3px; 
border-color:rgb(100, 0, 0)
}
.notice{
z-index:5;
color:rgb(100, 100, 0);
background:rgb(200, 200, 50); 
margin-top:5px; 
padding:10px; 
border-style:solid; 
border-width:3px; 
border-color:rgb(100, 100, 0)
}

.inarow{display:inline; float:left; position:relative;}

.postForm{background-color:#999; color:#fff; padding:5px; border-radius:5px; margin:0; margin-top:5px; }

.postForm a:hover{color:red;}

