/*FOOTER*/
footer{
position:relative;
z-index:3;
width:1000px;
height:45px;
padding:0;
margin-left:auto;
margin-right:auto;
clear:both;
}
.footernav{position:relative; float:right;}

footer nav a:link {color: #333; text-decoration: none; }
footer nav a:active {color: #333; text-decoration: none; }
footer nav a:visited {color: #333; text-decoration: none; }
footer nav a:hover {color: #666; text-decoration: none; }
