/*FOOTER*/
footer{
position:fixed;
z-index:3;
width:97%;
height:45px;
padding:0px;
margin-left:0;
margin-right:0;
bottom:10px;
}
.footernav{position:relative; float:right;}

footer nav a:link {color: #ccc; text-decoration: none; }
footer nav a:active {color: #666; text-decoration: none; }
footer nav a:visited {color: #999; text-decoration: none; }
footer nav a:hover {color: #fff; text-decoration: none; }
