/*LANDER*/

/*SIGNUP BUTTON*/
.expander{
margin-left:-10px;
margin-top: 5px;
}
.lander{
z-index:-1;
position:fixed;
vertical-align:center;
left:20%;
top:-225px;
padding:20%;
}
a.signup_button{
z-index:3;
font-size: 250%; font-style:bold;
color: #174038	;
position:fixed;
padding-left:5%;
padding-bottom:40%;
margin-top:6%;
margin-bottom:50px;
width:105%;
height:100%;
text-shadow: 1px 1px 3px #fff, 1px 1px 70px #fff;

box-shadow: -5px -5px -20px #666;  /*For IE9/Final CSS3 spec*/
-moz-box-shadow: -5px -5px -20px #666;  /*For Firefox*/
-webkit-box-shadow: -5px -5px -20px #666;  /*For Chrome/Safari*/
}

.lander_text{
margin-top:15%;
font-size: 130%; font-style:bold;
color: #333;
text-shadow: 2px 2px 3px #ccc, 1px 1px 120px rgb(0,240,120);
z-index:2;
position:fixed;
padding-bottom:20%;
padding-left:5%;
}

a.signup_button:hover {
}
