.micropost{clear:both; width:580px;position:relative; float:left; border:0px; border-bottom:2px;  border-style:solid; border-color:#333; padding:10px; border-radius:5px;}

.micropostPad{padding:0px; margin:10px; }

.microposts{position:relative; margin:0; padding:0;}

.micropost_form{padding:0px;}

.timestamp{font-size:9pt; clear:both; color:#999;}