.track{
background:rgba(0,0,0,.8);
position:relative;
float:left;
margin:0px;
padding:5px;
margin-top:5px;
border: .1em;
}
.trackTrans{
position:relative;
float:left;
}

.trackButtons{
position:relative;
top:2px;
left:2px;
}

.trackVolume{
color:#ccc;
padding:5px;
position:relative; 
float:left; 
margin-left:10px;}

.trackControl{

}


