.userLinks{margin:0; margin-left: 10px; color:rgb(100,180, 220);}
.userLinks a{color:rgb(100,180, 220);}
.userLinks a:link{color:rgb(100,180, 220);}
.userLinks a:visited{color:rgb(100,180, 220);}
.userLinks a:hover{color:rgb(100,180, 220);}