<footer>
<nav class="round">
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>
<li><%= link_to "TuneDocs", 'http://tuneboat.com' %></li>
<li><%= link_to "Brainpit", 'http://tuneboat.com/brain' %></li>
</nav>
</footer>